<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{modalHeader}}</h4>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{modalContent}}
    </div>
    <div class="modal-footer btn-container">
        <button class="btn btn-primary confirm-btn" (click)="closeModal(true)">Si</button>
        <button class="btn btn-primary confirm-btn" (click)="closeModal(false)">No</button>
    </div>
</div>