<div class="auth-main">
    <div class="auth-block">

        <button (click)="testServicio()" >
            Test
        </button>

        <!-- <div style="text-align: center">
            <img src="../../../assets/img/logo-kernel.fw.png" alt="Kernel Informática" />
        </div>

        <h1 translate>{{'login.title'}}</h1>


        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <div class="form-group row" [ngClass]="{'has-error': (!usuario.valid && usuario.touched), 'has-success': (usuario.valid && usuario.touched)}">
                
                <div class="col-sm-12">
                    <input [formControl]="usuario" type="text" class="form-control" id="inputUsuario" placeholder="{{'login.Usuario' | translate}}">
                </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                

                <div class="col-sm-12">
                    <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="{{'login.password' | translate}}">
                </div>

            </div>
            <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth" translate>
                {{'login.sign_in'}}
            </button>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <a routerLink="/login" class="forgot-pass" translate>{{'login.forgot_password'}}</a>
                </div>
            </div>
        </form> -->


    </div>
</div>