<div class="operadores">
    <ba-card cardTitle="Operadores" baCardClass="with-scroll" class="data-table-container">
        <data-tables [data]="dataOperadores | async"
                     [columns]="tableColumns"
                     [edit]="onClickEdit"
                     [remove]="onClickRemove">
        </data-tables>
    
        <div class="btn-container">
            <button routerLink="/pages/tablas/operadores/nuevo" type="submit" class="btn btn-default btn-new-user" translate>
                Nuevo operador
            </button>
        </div>
    </ba-card>

</div>
