<div class="nuevo-operador">
    <ba-card cardTitle="Nuevo Usuario" baCardClass="with-scroll">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputFirstName">Nombre</label>
                    <input  [(ngModel)]="NuevoOperador.nombre" type="text" class="form-control" id="inputFirstName" placeholder="Nombre">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input  [(ngModel)]="NuevoOperador.email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="clave">Clave</label>
                    <input [(ngModel)]="NuevoOperador.clave" type="password" class="form-control" id="Clave" placeholder="Clave">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Sucursal">Sucursal</label>
                    <select [compareWith]="compareWithSucursal" [(ngModel)]="usuarioNuevo.perfil.sucursal" (change)="changeSucursal($event)" class="form-control" id="Sucursal">
                        <!-- <option *ngFor="let suc of sucursales | async" [ngValue]="suc" [selected]="suc.idSucursal === 1"> -->
                        <option *ngFor="let suc of sucursales | async" [ngValue]="suc">
                            {{suc.nombre}} - {{suc.domicilio}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Perfil">Perfil</label>
                    <select [compareWith]="compareWithPerfil" [(ngModel)]="usuarioNuevo.perfil" class="form-control" id="Perfil" [disabled]="!usuarioNuevo.perfil.sucursal">
                        <option *ngFor="let per of perfiles | async" [ngValue]="per">
                            {{per.descripcion}}
                        </option>
                    </select>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Telefono">Telefono</label>
                    <input [(ngModel)]="usuarioNuevo.telefono" type="text" class="form-control" id="Telefono" placeholder="Telefono">
                </div>
            </div>
        </div>

        <button [disabled]="utilsService.checkIfIncomplete(usuarioNuevo)([
                                'email',
                                'telefono'
                            ])()"
                (click)="onClickCrearUsuario()" 
                type="submit" 
                class="btn btn-primary">
            Confirmar
        </button>

    </ba-card>

</div>