$default: #000; // default colors for layout
$body-bg: #DFDFE7; //  $body-bg: #EBEBEB; default bg color

$default-text: $default; // default text color layout (usually is the same as $default)
$content-text: $default-text; // content text color on card, panels, form, etc
$help-text: $default-text; // additional text color for hits

$label-text: $default-text; // labels color
$disabled: rgba(68, 69, 84, 0.4); // color for disabled state
$disabled-bg: tint($disabled, 15%); // background color for disable state
$border: rgba(68, 69, 84, 0.5); // border color
$border-light: rgba(68, 69, 84, 0.3); // lighter version of border color (for hovers)
$input-border: rgba(68, 69, 84, 0.6); // input border color
$input-background: rgba(255, 255, 255,0.7); // input border color for hover
$dropdown-text: #7d7d7d; // dropdown text color

// sidebar colors
$sidebar: #EEEEEE;
$sidebar-text: #000;

// specific components colors
$mail-box: whitesmoke;
$auth-panel-background: #ffffff;
$progress-background: rgba(0, 0, 0, 0.15);
$progress-default: rgba($default-text, 0.95);

// bootstrap card panel styles
$bootstrap-panel-radius: 7px;
$bootstrap-panel-text: #000;
$bootstrap-panel-bg: rgba(255, 255, 255, 0.5);
//$bootstrap-panel-bg: #C8C8C8;
$bootstrap-panel-header-bg: transparent;
$bootstrap-panel-header-border: 1px solid $border-light;
$bootstrap-panel-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);

// color scheme
$primary: #C1C1D0 !default;
$info: #004C66 !default;
$success: #B8C480 !default;
$warning: #e7ba08 !default;
$danger: #C33149 !default;
//

$primary-light: tint($primary, 30%);
$info-light: tint($info, 30%);
$success-light: tint($success, 30%);
$warning-light: tint($warning, 30%);
$danger-light: tint($danger, 30%);

$primary-dark: shade($primary, 15%);
$info-dark: shade($info, 15%);
$success-dark: shade($success, 15%);
$warning-dark: shade($warning, 15%);
$danger-dark: shade($danger, 15%);

$primary-bg: tint($primary, 20%);
$info-bg: tint($info, 20%);
$success-bg: tint($success, 20%);
$warning-bg: tint($warning, 20%);
$danger-bg: tint($danger, 20%);

// link colors
$activelink: #009ED2;
$hoverlink: darken($activelink, 20%);
$barNavHover: #009ED2 !default;
// main background
@mixin body-bg() {
  $mainBgUrl: $assets-root + $images-root + 'white-bg.jpg';
	&::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url($mainBgUrl) no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: 0;
  }
}

// additional background if you want another layer
@mixin additional-bg() {
  //display: block; // additional background layer, hidden by default
}

